<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687070457802-mhe78p74716hlg72pddobchte27t87jr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687070457802-mhe78p74716hlg72pddobchte27t87jr</string>
	<key>API_KEY</key>
	<string>AIzaSyB3mlXbkvPyRsRX29_ltSMK_zJ7SWciL2M</string>
	<key>GCM_SENDER_ID</key>
	<string>687070457802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tottracker</string>
	<key>PROJECT_ID</key>
	<string>tottracker-238bb</string>
	<key>STORAGE_BUCKET</key>
	<string>tottracker-238bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687070457802:ios:2c97cf927374c60ada2933</string>
</dict>
</plist>